html{
	height: 100%;
	overflow:hidden;
}
body {
	background-image:
		url("../Images/usernew.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	overflow:hidden;
}
.userinfo{
	margin : auto;
	height : 300px;
	width : 500px;
	background-color : white;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	border-radius: 25px;
	display : flex;
	flex-direction : row;
}
.staticprops{
	height : 300px;
	width : 200px;
}
.textprops{
	height : 200px;
	width: 200px;
}
.textprops1{
	height : 100px;
	width: 200px;
	display : flex;
	flex-direction : row;
	padding-top : 5px;
	font-weight: bold;
}
.props1{
	height : 100px;
	width: 70px;
	display : flex;
	flex-direction : column;
}
.props2{
	height : 100px;
	width: 130px;
	display : flex;
	flex-direction : column;
}
.textprop1{
	height : 50px;
	width: 130px;
	display : flex;
	flex-direction : row;
	font-family:"avenir, 'avenir next', helvetica, arial, sans-serif;";
	font-size: 9px;
}
.staticprops1{
	height : 300px;
	width : 300px;
}
.textprops2{
	height : 200px;
	width : 300px;
	display : flex;
	flex-direction : column;
}
.textprops3{
	height : 100px;
	width : 300px;
	display : flex;
	flex-direction : column;
}
.inputboxs{
	height : 100px;
	width : 200px;
}
.inputboxs1{
	height : 50px;
	width : 200px;
}
#userinp1{
	width:100%;
	height:25px;
	outline:none;
}
#userinp2{
	width:100%;
	height:25px;
	outline:none;
}
.textprops4{
	height : 50px;
	width : 200px;
	display : flex;
	flex-direction : row;
}
.textbuttons{
	height : 50px;
	width:100px;
}
#buttons{
	width: 95px;
    background-color: gray;
    text-align:center;
}
#buttons1{
	width: 95px;
    text-align:center;
    float : right;
}
.textprops5{
	width: 100%;
	height :30px;
    text-align:center;
    
}
